<div class="container marketing">

<!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "book", class: "img-circle", size: "140x140", alt: "book image" %>
      <h2>BOOK</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <%= image_tag "video", class: "img-circle", size: "140x140", alt: "book image" %>
      <h2>VIDEO</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <%= image_tag "article", class: "img-circle", size: "140x140", alt: "book image" %>
      <h2>ARTICLE</h2>
      <p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr>
</div>