<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :image %>
    <%= f.association :category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-info" %>
  </div>
<% end %>
