<div class="media">
  <div class="media-left">
  	<%= link_to image_tag(post.image_url(:thumb), class: "media-object", size: "64x64"), post %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to post.title, post %></h4>
    <%= truncate(post.content, length: 200) %>
  </div>
</div>