<p id="notice"><%= notice %></p>

<p>
  <%= simple_format(@post.content) %>
</p>

<p>
  카테고리: <%= link_to @post.category.title, @post.category %>
</p>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-info" %> |
<%= link_to 'Back', category_path(@post.category), class:"btn btn-info" %> |
<%= link_to 'Destroy', post_path(@post), method: :delete, class:"btn btn-info" %>
