<div class="marketing">

<!-- Three columns of text below the carousel -->
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-lg-3 or col-xs-6">
        <%= image_tag category.image_url, class: "img-circle", size: "140x140", alt: "book image" %>
        <h2><%= category.title %></h2>
        <p><%= link_to "View detail", category, class:"btn btn-info" %> </p>
      </div><!-- /.col-lg-4 -->
    <% end %>
  </div><!-- /.row -->
  <hr>
</div>
<%= link_to 'New Category', new_category_path, class:"btn btn-orange" %> | <%= link_to 'New Post', new_post_path, class:"btn btn-orange" %>
