<p id="notice"><%= notice %></p>

<%= render @category.posts %>

<hr>
<%= link_to 'Edit', edit_category_path(@category), class:"btn btn-info" %> |
<%= link_to 'Back', categories_path, class:"btn btn-info" %> |
<%= link_to 'New post', new_post_path, class:"btn btn-info" %>
