<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">

	<script src="https://bootswatch.com/journal/bootstrap.min.css"></script>
  <title>Hh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%=link_to 'H & H', root_path, class:"navbar-brand page-scroll" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% Category.all.each do |category| %>
                        <li><%= link_to category.title, category, class: "page-scroll" %></li>
                    <% end %>
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class:"page-scroll" %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to "로그인",new_user_session_path, class:"page-scroll" %>
                        </li>
                        <li>
                            <%= link_to "회원가입",new_user_registration_path, class:"page-scroll"%>
                        </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header class="intro-header" style="background-image: url('<%= @background_image or asset_path('header-bg.jpg') %>')">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><%= @header %></div>
                <div class="intro-lead-in"><%= @subtitle %></div>
                <!-- <a href="#services" class="page-scroll btn btn-xl">More</a> -->
            </div>
        </div>
    </header>    

    <div class="container">
        <%= yield %>
    </div>
	<footer>
        <STRONG><p class="center">@made by HEE&HYEOK</p></STRONG>
    </footer>
</body>
</html>
